<div class="main-container pt-5">
  <div class="custom-container m-5 p-5">
    <div class="d-flex">
      <button type="button" class="btn btn-link" (click)="goBack()">
        < Usuarios
      </button>
    </div>

    <div class="container">
      <h1>{{ user.name }}</h1>

      <div class="row">
        <div class="col-4">
          {{ user.email }}
        </div>
        <div class="col-4">
          {{ user.phone }}
        </div>
        <div class="col-4">
          {{ user.website }}
        </div>
      </div>
    </div>

    <div class="card bg-dark m-3">
      <pre class="text-light">
        {{ user | json }}
      </pre>
    </div>
  </div>
</div>
